<div class="row">
  <div class="col-md-6">
    <div class="card card-body">
      <h3 class="box-title m-b-0">1) Posición del trabajador</h3>
      <p class="text-muted m-b-30 font-13"></p>
      <div class="row">
        <div class="col-12">
          <form>
            <div class="form-group" [ngClass]="{'check':seleccionado}">
              <div class="col-md-4">
                <label class="btn btn-primary">
                  <img (click)="seleccionado=!seleccionado"  src="../../../assets/images/icon/golpeado.png" alt="golpeado" class="img-thumbnail img-thumbnail">
                  <input type="checkbox" name="golpeado" id="golpeado" value="golpeado" class="hidden" autocomplete="off">
                </label>
              </div>
              <div class="col-md-4">
                  <label class="btn btn-primary">
                    <img (click)="seleccionado=!seleccionado"  src="../../../assets/images/icon/golpeado.png" alt="golpeado" class="img-thumbnail img-thumbnail">
                    <input type="checkbox" name="golpeado" id="golpeado" value="golpeado" class="hidden" autocomplete="off">
                  </label>
                </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-body">
      <h3 class="box-title m-b-0">Sample Horizontal form</h3>
      <p class="text-muted m-b-30 font-13"> Use Bootstrap's predefined grid classes for horizontal form </p>
      
    </div>
  </div>
</div>