<div class="text-left">
    <button routerLink="/dashboard" type="button" class="btn btn-rounded btn-outline-primary">
        <i class="fa fa-rotate-left"> Atrás</i>
    </button>
</div>
<br>

<h1>Procedimientos</h1>
<br>


<div class="row">
  <div class="col-md-5">
    <div class="card card-body">
      <h3 class="card-title">Listado de Procedimientos</h3>
      <ul class="list-group">
        <li class="list-group-item active">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
  </div>
  <div class="col-md-7 align-items-center justify-content-center">
    <div class="card card-body">
        <img src="../../../assets/images/infograma.jpg" alt="" class="img-avatar">
    </div>
  </div>
</div>