<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary btn-rounded btn-lg"> <i class="fa fa-cogs"> Procedimientos</i></button>
    <button type="button" class="btn btn-outline-info btn-rounded btn-lg"><i class="fa fa-camera"></i></button>
    <button type="button" class="btn btn-outline-success btn-rounded btn-lg"><i class="fa fa-microphone"></i></button>
    <button type="button" [routerLink]="['/mini-formacion']" class="btn btn-secondary btn-rounded btn-lg"><i class="fa fa-info-circle"> Mini-Formación</i></button>
  </div>