<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img src="../../../assets/images/icon/staff.png" alt="usuarios"></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total Usuarios Registrados</h6>
                        <h2 class="m-t-0"> {{ totalUsuarios }} </h2></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img src="../assets/images/icon/expense.png" alt="Income"></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Formulario más usado</h6>
                        <h2 class="m-t-0">HORNO</h2></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img src="../assets/images/icon/assets.png" alt="Income"></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Usuario con más tareas</h6>
                        <h2 class="m-t-0">Pepi Moreno Carbonel</h2></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Observaciones Preventivas</h4>
                <app-observaciones-preventivas></app-observaciones-preventivas>

            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Observaciones Preventivas</h4>
                <app-mis-observaciones></app-mis-observaciones>

            </div>
        </div>
    </div>
</div>